@import url("https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
footer { vertical-align: baseline;
color: white;
}
body {
  background: #007bff;
  user-select: none;
}
.start_container,
.instructions,
.math-quiz,
.result_box,
.name_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
    0px 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease;
}

.instructions.activeInfo,
.math-quiz.activeQuiz,
.result_box.activeResult,
.name_box.activeName {
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.start_container {
  box-shadow: none;
}

.start_btn button,
.leaderboard button {
  width: 220px;
  font-size: 25px;
  font-weight: 500;
  color: #007bff;
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
    0px 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.start_btn {
  transform: translateY(-15%);
}
.leaderboard {
  transform: translateY(10%);
  transform: translateX(10px);
}
.leaderboard button {
  width: 200px;
  font-size: 20px;
  padding: 10px;
}

.instructions {
  width: 540px;
  background: #fff;
  border-radius: 5px;
  opacity: 0; /*here*/
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}

.instructions .info_title {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  padding: 0 30px;
  font-size: 20px;
  font-weight: 600;
}

.instructions .info_list {
  padding: 15px 35px;
}

.instructions .info_list .info {
  margin: 5px 0;
  font-size: 17px;
}

.instructions .info_list .info span {
  font-weight: 600;
  color: #007bff;
}

.instructions .buttons {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 35px;
  border-top: 1px solid lightgrey;
}

.instructions .buttons button {
  margin: 0 5px;
  height: 40px;
  width: 100px;
  outline: none;
  border: 1px solid #007bff;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttons button.quit {
  color: #007bff;
}

.buttons button.quit:hover {
  color: #fff;
  background: #007bff;
}

.buttons button.restart {
  color: #fff;
  background: #007bff;
}

.buttons button.restart:hover {
  background: #0263ca;
}

.name_box {
  width: 500px;
  background: #fff;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  padding: 35px;
  transform: translate(-50%, -50%) scale(0.9);
}

.name_box input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #303030;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 600px;
}

.name_box input[type="button"] {
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600px;
}

input[type="button"]:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.math-quiz {
  width: 550px;
  background: #fff;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}

.math-quiz header {
  position: relative;
  z-index: 99;
  height: 70px;
  padding: 0 30px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.math-quiz header .title {
  font-size: 20px;
  font-weight: 600;
}

.math-quiz header .timer,
.math-quiz footer .points {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 145px;
  height: 45px;
  background: #cce5ff;
  border: 1px solid #b8daff;
  border-radius: 5px;
  padding: 0 8px;
}

.math-quiz header .timer .time_text,
.math-quiz footer .points .point_text {
  font-weight: 400px;
  font-size: 17px;
  user-select: none;
}

.math-quiz header .timer .timer_sec,
.math-quiz footer .points .point_no {
  font-size: 18px;
  font-weight: 500;
  background: #343a40;
  height: 30px;
  width: 45px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  border: 1px solid #343a40;
  user-select: none;
}

.math-quiz header .time_line {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  background: #007bff;
}

.math-quiz section {
  padding: 30px 30px;
  font-size: 30px;
  text-align: center;
}

#questions p {
  display: inline;
}

section .option_list {
  margin-top: 20px;
}

section .option_list .option {
  background: aliceblue;
  border: 1px solid #84c5fe;
  border-radius: 5px;
  padding: 8px 15px;
  margin-bottom: 10px;
  display: inline-flex;
  justify-content: space-evenly;
  cursor: pointer;
  width: 100px;
  transition: all 0.3s ease;
}

section .option_list .option:hover {
  color: #004085;
  background: #cce5ff;
  border-color: #b8daff;
}

.option_list .option:last-child {
  margin-bottom: 0px;
}

.option_list .option.correct {
  color: #23903c;
  border-color: #23903c;
  background: #d4edda;
}

.option_list .option.wrong {
  color: #721c24;
  border-color: #a42834;
  background: #f8d7da;
}

.option_list .option.disabled {
  pointer-events: none;
}

.math-quiz footer {
  height: 60px;
  width: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.math-quiz footer .total_que span {
  display: flex;
  user-select: none;
}

footer .total_que span p {
  font-weight: 500;
  padding: 0 5px;
}

footer .total_que span p:first-child {
  padding-left: 0px;
}

footer .next_btn {
  display: none;
  height: 40px;
  padding: 0 13px;
  font-size: 18px;
  font-weight: 400;
  border: none;
  outline: none;
  color: #fff;
  background: #007bff;
  border-radius: 5px;
  border: 1px solid #007bff;
  cursor: pointer;
}

footer .next_btn:hover {
  background: #0263ca;
}

.result_box {
  background: #fff;
  width: 450px;
  padding: 25px 30px;
  border-radius: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}

.result_box .icon {
  font-size: 100px;
  color: #007bff;
  margin-bottom: 10px;
}

.result_box .complete_text {
  font-size: 20px;
  font-weight: 500;
}

.result_box .score_text span {
  display: flex;
  margin: 10px o;
  font-size: 18px;
  font-weight: 500;
}

.score_text span p {
  font-weight: 500;
  padding: 0 4px;
}

.result_box .buttons {
  display: flex;
  margin: 20px 0;
}

.result_box .buttons button {
  margin: 0 10px;
  height: 40px;
  padding: 0 20px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #007bff;
  cursor: pointer;
  transition: all 0.3s ease;
}

@media (max-width: 550px) {
  .instructions,
  .math-quiz,
  .result_box,
  .name_box {
    width: 90%;
  }
  .instructions .info_title {
    font-size: 19px;
  }
  @media (max-width: 390px) {
    .math-quiz footer .next_btn {
      font-size: 14px;
    }
    .instructions .info_list {
      padding: 2px 20px;
    }
    .instructions .info_list .info {
      font-size: 15px;
    }
  }
  @media (max-width: 440px) {
    .result_box button.restart,
    .result_box button.quit {
      font-size: 14px;
    }
  }
  @media (max-width: 320px) {
    .result_box .complete_text {
      font-size: 18px;
    }
  }
}