::root {
  --primary-color: #432E30;
  --primary-color-light: #8E7474;
  --accent-color: #FE6A6B;
  --accent-color-light: #FFE4E4;
  --accent-color-dark: #B94B4C;
  --white-color: #FAFBFC;
  --light-gray-color: #C6CBD1;
  --medium-gray-color: #959DA5;
  --dark-gray-color: #444D56; 
  --bg-color: #F8F8FA;
  --code-bg-color: #F0E8E8;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html {
  scroll-behavior: smooth;
  background: #161623;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body::before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:linear-gradient(#f00,#f0f);
  clip-path:circle(30% at 99% 70%)
}
body::after{
  content:'';
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  background: linear-gradient(90deg, rgba(33,255,5,1) 0%,     rgba(6,255,254,1) 100%);
  clip-path:circle(30% at 10% 10%)
}
.container{
  height:100vh;
  width:100%;
  background:#161623;
  display:flex;
  align-items:center;
  justify-content:center;
}
.card{
  position:relative;
  width:360px;
  height:480px;
  margin:30px;
  box-shadow:20px 20px 50px rgba(0,0,0,0.5);
  border-radius:15px;
  background:rgba(255,255,255,0.1);
  overflow:hidden;
  display:flex;
  font-family: 'Poppins', sans-serif;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  backdrop-filter:blur(5px);
  z-index:1;
}

.hero__terminal {
  width: 80%;
  margin: -11rem auto 3rem auto;
  text-align: left;
  color: white;
  padding: 0 1rem;
  border-radius: 4px;
  background-color: #232323;
  min-height: 285px;
  animation: fadeUp 2s;
  box-shadow: 0px 12px 36.8px 9.2px rgba(0, 0, 0, 0.1);
}
.hero__terminal pre {
  white-space: pre-line;
  padding-top: 1rem;
  flex-wrap: wrap;
   }
.code {
  border-radius: 3px;
  font-family: Space Mono, SFMono-Regular, Menlo,Monaco, Consolas, Liberation Mono, Courier New, monospace;
  background: var(--bg-color);
  border: 1px solid var(--code-bg-color);
  color: var(--primary-color-light);
}

.code--block {
  white-space: pre-line;
  padding: 0 1.5rem;
}

.code--inline {
  padding: 3px 6px;
  font-size: 80%;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translate3d(0,30px,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}
.login-heading{
  color:white;
  margin-bottom:100px;
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  position: absolute;
}
.botom {
	padding-bottom: 300px;
	}
.input-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}
.container input{
  margin-top: 25px;
  padding: 10px;
  width: 230px;
  border: none;
  box-shadow:20px 20px 50px rgba(0,0,0,0.5);
  border-radius:10px;
  background:rgba(255,255,255,0.1);
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  backdrop-filter:blur(5px);
  z-index:1;
  color: white
}
.container input::placeholder{
  color: white;
  opacity: .5;
}
.container input:focus{
  outline: none;
}
.container input:hover{
  transform: scale(1.1);
}

.container-button form{
	font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  margin-top: 250px;
}

.btn {
  position: relative;
  display: inline-block;
  border: none;
  border-radius: 50px;
  background: none;
  padding: 25px 75px;
  margin: 30px;
}

.btn p {
  position: absolute;
  left: 0;
  top: 0;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, .05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, .2);
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  border-radius: 30px;
  color: #fff;
  z-index: 1;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  text-transform: uppercase;
  transition: all .3s ease-in-out;  
  backdrop-filter: blur(15px)
}

.btn:hover p {
  letter-spacing: 3px;
}

.btn p::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: 
    linear-gradient(to left, rgba(255, 255, 255, .15), transparent);
  transform: skewX(40deg) translateX(0);
  transition: all .5s ease-out;
}

.btn:hover p::before {
  transform: skewX(40deg) translateX(200%);
}

.btn::before,
.btn::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 0px;
  border-radius: 10px;
  background: #f00;
  transition: all .4s ease-in-out;
  transition-delay: 0s;
}

.btn::before {  
  bottom: -5px;
}

.btn::after {
  top: -5px;
}

.btn:hover::before,
.btn:hover::after{  
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: .3s;
}

.btn:hover::before {
  bottom: 0;
}

.btn:hover::after {
  top: 0;
}

.btn:nth-child(1)::before,
.btn:nth-child(1)::after {
  background: #ff7979;
  box-shadow: 
    0 0 5px #ff7979,
    0 0 15px #ff7979,
    0 0 30px #ff7979,
    0 0 60px #ff7979
}

